<br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-4">
            <div class="col-11">
                <div class="col-12 ">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <h2 class="rounded-circle">
                    Pediatria
                </h2>
                <p>
                    Clinica Jx le ofrece una especial dedicación 
                    en la atención de nuestros niños. 
                    Contamos con un equipo multidisciplinario 
                    de sub-especialidades pediátricas que le 
                    ofrecen su experiencia en la atención de niños
                    desde el nacimiento hasta su adolescencia.
                    <br>
                    Contamos con servicios para el diagnostico y
                    tratamiento personalizado en un ambiente cálido
                    y confortable.
                </p>
                <a href="#" target="_self" class="">
                    Reservar Cita
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-11">
                <div class="col-12 ">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <h2 class="">
                    Medicina General
                </h2>
                <p>
                    Nuestros especialista se encargan de diagnosticar
                    y cuidar pacientes en casos rutinarios, y usualmente
                    refiere a las personas a especialistas cuando se 
                    requiere de tratamientos específicos.
                </p>
                <a href="#" target="_self" class="">
                    Reservar Cita
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-11">
                <div class="col-12 ">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <h2 class="">
                Odontologia
            </h2>
            <p>
                Especialidad que se ocupa de las enfermedades
                del aparato estomatológico, que incluye los dientes, 
                las encías, el tejido periodontal y maxilares.
            </p>
            <a href="#" target="_self" class="">
                Reservar Cita
            </a>
        </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-md-center text-center">
        <div class="col-12 col-md-8">
            <h2 class="">
                Dueño:
            </h2>
            <h4 class="">
                el nombre del dueño
            </h4>
            <p>
                La mejor atenciòn lo encuentras aqui
            </p>
        </div>
        <div class="col-12 col-md-4">
            <div class="text-center">
                <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>